<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table cellspacing="0" border="1px">
        <thead class="thead">
            <tr><td>hahahahah</td></tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>

    <script>
        let thead = document.querySelector('.thead')
        let tbody = document.querySelector('.tbody')
        let lst = [['a1eeeeeeee','b1','c1ewwwwwwwwww'],['aa1','bb1dddddddddddddddd','cc1'],['aaa1','bbb1','ccc1']]

        for (i=0; i<lst.length; i++){
        let tr = document.createElement('tr');
            for (j=0; j < lst[i].length; j++){
                let td = document.createElement('td');
                td.innerHTML = lst[i][j];
                tr.appendChild(td);
            }
        thead.appendChild(tr)
        }

    </script>
</body>
</html>